type fingerprint, domain;

init_daemon_domain(fingerprint)
net_domain(fingerprint)

allow fingerprint firmware_file:dir search;
allow fingerprint firmware_file:file { getattr open read };

allow fingerprint tee_device:chr_file { open read write ioctl };

allow fingerprint fingerprint_socket:sock_file { create unlink read write };

allow fingerprint fingerprint_sysfs:file rw_file_perms;