#allow init_shell self:appletalk_socket create;
#allow init_shell self:udp_socket { create ioctl };
#allow init_shell wcnss_service_exec:file execute_no_trans;
