#============= qlogd ==============
allow qlogd { debugfs qdss_device }:file r_file_perms;
allow qlogd sysfs:file w_file_perms;
r_dir_file(qlogd, storage_file)
r_dir_file(qlogd, mnt_user_file)