allow qti_init_shell bluetooth_data_file:file rw_file_perms;

allow qti_init_shell qmuxd:unix_stream_socket connectto;
allow qti_init_shell qmuxd_socket:dir create_dir_perms;
allow qti_init_shell qmuxd_socket:sock_file create_file_perms;
