# for CMHardwareService access to TapToWake
allow system_server touchpanel_sysfs:file rw_file_perms;
allow system_server touchpanel_sysfs:dir { search };

# for CMHardwareService access to VibratorHW
allow system_server vibeamp_sysfs:file rw_file_perms;

# display tuning
allow system_server display_sysfs:file rw_file_perms;

# timerfd
allow system_server rtc_device:chr_file rw_file_perms;

# Fingerprint
allow system_server fingerprint:unix_stream_socket connectto;
allow system_server fingerprint_socket:sock_file { read write };
